* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;

}

audio {
  display: none
}

.principal {
  display: flex;
  width: 100%;
  position: relative;
  overflow: hidden;

}

#grinch {
  width: 30vw;
  height: 30vh;
  display: flex;
  position: absolute;
  margin-top: 40vh;
  visibility: hidden;
  transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
}

#felizGrinch{
  width: 100vw;
  height: 50vh;
  display: flex;
  position: absolute;
  margin-top: 25vh;
  visibility: hidden;
  transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
}

#puerta {
  width: 40vw;
  height: 30vh;
  display: flex;
  position: absolute;
  margin-left: 38%;
  margin-top: 41vh;
  visibility: hidden;
  transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
}



#postal {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  /* para suavizar los efectos */
  transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
}


#saludos {
  /*Que se vea la imagen que esta debajo*/
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5vw;

  /*Hago que se superponga*/
  display: flex;
  position: absolute;
  width: auto;
  height: auto;
  text-align: center;
  margin-top: 30vh;

  /*Que la letra se vea bien*/
  color: gold;
  font-size: 2em;
  font-style: italic;
  text-shadow: 0px 2px goldenrod;
  visibility: hidden;

  /* para suavizar los efectos */
  transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
}


@media(orientation:landscape) {
  .principal {
    width: 70vh;
  }
}