* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;

}

audio {
  display: none
}

.principal {
  display: flex;
  width: 100%;
  position: relative;
  overflow: hidden;

}

#grinch {
  width: 30vw;
  height: 30vh;
  display: flex;
  position: absolute;
  margin-top: 40vh;
  visibility: hidden;
  transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
}


#bola1 {
  width: 18vw;
  height: 7vh;
  display: flex;
  position: absolute;
  margin-top: 20vh;
  margin-left: 37vh;
  visibility: visible;
  transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
}

#bola2 {
  width: 18vw;
  height: 7vh;
  display: flex;
  position: absolute;
  margin-top: 6vh;
  margin-left: 27vh;
  visibility: visible;
  transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
}

#bola3 {
  width: 18vw;
  height: 7vh;
  display: flex;
  position: absolute;
  margin-top: 9vh;
  margin-left: 16vh;
  visibility: visible;
  transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
}

#bola4 {
  width: 18vw;
  height: 7vh;
  display: flex;
  position: absolute;
  margin-top: 24vh;
  margin-left: 9vh;
  visibility: visible;
  transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
}

#bola5 {
  width: 18vw;
  height: 7vh;
  display: flex;
  position: absolute;
  margin-top: 9vh;
  margin-left: 0vh;
  visibility: visible;
  transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
}

#felizGrinch{
  width: 100vw;
  height: 50vh;
  display: flex;
  position: absolute;
  margin-top: 25vh;
  visibility: hidden;
  transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
}

#puerta {
  width: 40vw;
  height: 30vh;
  display: flex;
  position: absolute;
  margin-left: 38%;
  margin-top: 41vh;
  visibility: hidden;
  transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
}



#postal {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  /* para suavizar los efectos */
  transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
}




#saludos {
  /*Que se vea la imagen que esta debajo*/
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5vw;

  /*Hago que se superponga*/
  display: flex;
  position: absolute;
  width: auto;
  height: auto;
  text-align: center;
  margin-top: 30vh;

  /*Que la letra se vea bien*/
  color: gold;
  font-size: 2em;
  font-style: italic;
  text-shadow: 0px 2px goldenrod;
  visibility: hidden;

  /* para suavizar los efectos */
  transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
}





@media(orientation:landscape) {
  .principal {
    width: 70vh;
  }
}

#felicitacion{
  background-color: rgb(0, 128, 0, 0.2);

  color:red;
  border-radius: 5vw;
  visibility: hidden;
  border-color: gray;
  border-width: 2px;
  border-style: solid;
  border-color: green;
  
  font-size: 60px;
  line-height: 50px;
  height: 50px;

  position: absolute;
  margin-top: 32vh;
  right: 1vh;
  left: 1vh;
  text-align: center;
  overflow: hidden;
  
  /* para suavizar los efectos */
  transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
}


ul{
  list-style: none;
  animation: cambiar 5s infinite;
}


@keyframes cambiar{
  0%{margin-top: 0;}
  20%{margin-top: 0;}

  25%{margin-top: -50px;}
  50%{margin-top: -50px;}
  
  55%{margin-top: -100px;}
  80%{margin-top: -100px;}
 
  85%{margin-top: -150;}
  95%{margin-top: -150;}
  
  100%{margin-top: 0px;}
}